body{
  margin: 0;
  
}

.heading{
    color: red;
    background-image: url("Images/i0mgo_512.jpg");
}
.crousal-para{
    background-color: rgb(220, 180, 106);
    background-size: cover;
    height: 60vh;

}
.span{
  color: white;
  font-family: sans-serif;
}
.crousal-image{
    
    width: 20vh;
    height: 40vh;
    padding-right: 30px;
    
}
.image-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.ikiea-heading{
    font-size: 30px;
}

form.example input[type=text] {
    padding: 10px;
    margin-left: 20px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 20%;
    margin-top: 15px;
    background: transparent;
  }
  
  form.example button {
    float: left;
    height: 48px;
    width: 30px;
    padding: 10px;
    background: #2156f3;
    color: white;
    font-size: 20px;
    margin-top: 15px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
  }
  
  form.example button:hover {
    background: #0b7dda;
    color: pink;
  }
  
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }
  .placeholder{
    font-size: 25px;
    color: white;
  }
  
  .navbar{
    background-color:  #333; 
    overflow: hidden;
  
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%;

  }
#navItem1{
  font-size: 20px;
  color: grey;
}
#navItem2{
  font-size: 20px;
  color: grey;
}
#navItem3{
  font-size: 20px;
  color: grey;
}
#navItem4{
  font-size: 20px;
  color: grey;
}
.book-logo {
  height: 60px;
  width: 60px;
}
.header{
  background-color: black;
  color: white;
  min-height: 250px;
  text-align: center;
  font-size: 40px;
}
.navbar-details{
  color: white;
  font-size: 15px;
}
.best-seller-container{
  display: flex;
  background-color: rgb(150, 182, 183);
  height: 50vh;
  display: flexbox;
  justify-content: center;
  align-items: center;
  
  
}
.best-seller-image{
  height: 200px;
  width: 160px;
  margin: 30px;
}
.best-fiction-books-container{
  height: 200px;
  width: 140px;
  margin: 30px;
  display: flex;
 
}
.cover-image{
  width: 80%;
  min-height: 300px;
  text-align: center;

}
.footer{
  background-color: black;
  height: 250px;

}
.footer-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.footer-logo{
  width: 50px;
  margin-top: 10px;
  text-align: center;
}
.footer-paragrapgh{
  color: white;
  font-size: 20px;
  text-align: center;
  padding: 20px;
  
  
}
.icon-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  align-content: center;
  margin: 10px;
  padding: 20px;
}
